<div class="body">
  <div class="container">
    <h1>Contacts</h1>
    <div class="header">
        <div class="search-container">
          <input type="text" placeholder="Search...">
      </div>
        <!-- <button class="add-button">+ Create New</button> -->
    </div>
    <div class="table-responsive-xl">
      <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Link or Value</th>
                <th>Created At</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody  *ngFor="let item of contacts">
          <tr>
            <td>{{getEnumName(item.name)}}</td>
            <td>{{item.link}}</td>
            <td>{{item.createdAt | date:'short'}}</td>
            <td>
                <div class="action-buttons" (click)="onEditContact(item.id)">
                    <button class="edit-btn"><img src="../../../assets/images/edit.svg" alt="Edit"></button>
                </div>
            </td>
        </tr>
        <hr>
    </table>
    </div>
</div>
</div>
