<div class="body">
  <div class="container">
    <h1>{{"title.contact" | translation | async }}</h1>
    <div class="header">
        <div class="search-container">
          <input type="text" [placeholder]="('placeholder.search' | translation | async)">
      </div>
        <!-- <button class="add-button">+ Create New</button> -->
    </div>
    <div class="table-responsive-xl">
      <table>
        <thead>
            <tr>
                <th>{{"table.header.name" | translation | async }}</th>
                <th>{{"table.header.link-or-value" | translation | async }}</th>
                <th>{{"table.header.created-at" | translation | async }}</th>
                <th>{{"table.header.action" | translation | async }}</th>
            </tr>
        </thead>
        <tbody  *ngFor="let item of contacts">
          <tr>
            <td>{{ ('communication.' + getEnumName(item.name)) | translation | async }}</td>
            <td>{{item.link}}</td>
            <td>{{item.createdAt | date:'short'}}</td>
            <td>
                <div class="action-buttons" (click)="onEditContact(item.id)">
                    <button class="edit-btn"><img src="../../../assets/images/edit.svg" alt="Edit"></button>
                </div>
            </td>
        </tr>
        <hr>
    </table>
    </div>
</div>
</div>
