<div class="body">
  <div class="container">
    <h1>{{"title.service" | translation | async}}</h1>
    <div class="header" [formGroup]="serviceForm">
        <div class="search-container">
          <input type="text" [placeholder]="('placeholder.search' | translation | async )" formControlName="query">
      </div>
        <button class="add-button" (click)="createNewItem()">{{"btn.create" | translation | async}}</button>
    </div>
    <div class="table-responsive-xl">
      <table>
        <thead>
            <tr>
                <th>{{"table.header.name" | translation | async }}</th>
                <th>{{"table.header.description" | translation | async }}</th>
                <th>{{"table.header.created-at" | translation | async }}</th>
                <th>{{"table.header.action" | translation | async }}</th>
            </tr>
        </thead>
        <tbody  *ngFor="let item of items">
          <tr>
            <td>{{item.nameEn}}</td>
            <td>{{item.descriptionEn}}</td>
            <td>{{ item.createdAt | date:'yyyy-MM-dd HH:mm:ss' }}</td>
            <td>
                <div class="action-buttons">
                    <button class="edit-btn" (click)="editItem(item.id)"><img src="../../../assets/images/edit.svg" alt="Edit"></button>
                    <button class="delete-btn" (click)="deleteItem(item.id)"><img src="../../../assets/images/delete.svg" alt="Delete"></button>
                </div>
            </td>
        </tr>
        <hr>
    </table>
    </div>
</div>
</div>
