<div class="body">
  <div class="container">
    <h1>Services</h1>
    <div class="header">
        <div class="search-container">
          <input type="text" placeholder="Search...">
      </div>
        <button class="add-button">+ Create New</button>
    </div>
    <div class="table-responsive-xl">
      <table>
        <thead>
            <tr>
                <th><input type="checkbox"></th>
                <th>Name</th>
                <th>Description</th>
                <th>Created By</th>
                <th>Created At</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody  *ngFor="let item of [1,2,3,4,5,6,7,8,9]">
          <tr>
            <td><input type="checkbox"></td>
            <td>Lindsey Stroud</td>
            <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque et, beatae, reiciendis consequuntur, natus quos esse amet accusamus expedita dolore quo quia quibusdam veniam quas sequi quidem corrupti necessitatibus debitis.</td>
            <td>User fullname</td>
            <td>23/07/2024</td>
            <td>
                <div class="action-buttons">
                    <button class="edit-btn"><img src="../../../assets/images/edit.svg" alt="Edit"></button>
                    <button class="delete-btn"><img src="../../../assets/images/delete.svg" alt="Delete"></button>
                </div>
            </td>
        </tr>
        <hr>
    </table>
    </div>
</div>
</div>
