<div class="body">
  <div class="container">
    <h1>Team</h1>
    <div class="header">
        <div class="search-container">
          <input type="text" placeholder="Search...">
      </div>
        <button class="add-button" (click)="onCreateNewMember()">+ Create New</button>
    </div>
    <div class="grid">
      <div class="card" *ngFor="let item of members">
        <button class="dots-button">⋮</button>
                <div class="dropdown-content">
                    <a (click)="onEditMember(item.id)">Edit</a>
                    <a (click)="deleteMember(item.id)">Delete</a>
                </div>
        <div class="status">
            <img [src]="getPhoto(item)" alt="Img">
        </div>
        <div class="delivery-info">
            <h2>{{item.firstname}}</h2>
            <h2> {{item.lastname}}</h2>
            <h3>{{item.phone}}</h3>
            <p>{{item.positionEn}}</p>
        </div>
    </div>
    </div>
</div>
</div>
