<div class="body">
  <div class="container">
    <h2>Messages</h2>
    <div class="header" [formGroup]="messageForm">
      <div class="search-container">
        <input type="text" placeholder="Search..." formControlName="query">
      </div>
      <button class="add-employee-btn" (click)="markAllAsRead()">Mark all as read</button>
    </div>
    <div class="table-responsive-xl">
      <table>
        <thead>
          <tr>
            <th>Fullname</th>
            <th>Email</th>
            <th>Subject</th>
            <th>Message</th>
            <th>Date</th>
            <th>Is Seen</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of filteredItems">
            <td>{{item.name}}</td>
            <td>{{item.email}}</td>
            <td>{{item.subject}}</td>
            <td>{{item.text}}</td>
            <td>{{item.createdAt | date:'short'}}</td>
            <td>{{item.isSeen}}</td>
            <td>
              <div class="action-buttons">
                <button class="mark-read-btn" (click)="markAsRead(item.id)">
                  <img src="../../../assets/images/double-tick.svg" alt="Mark as read">
                </button>
                <button class="delete-btn" (click)="deleteMessage(item.id)">
                  <img src="../../../assets/images/delete.svg" alt="Delete">
                </button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
