<div class="body">
  <div class="container">
    <h2>{{"title.message" | translation | async }}</h2>
    <div class="header" [formGroup]="messageForm">
      <div class="search-container">
        <input type="text" [placeholder]="('placeholder.search' | translation | async )" formControlName="query">
      </div>
      <button class="add-employee-btn" (click)="markAllAsRead()">{{"btn.mask-all-read" | translation | async }}</button>
    </div>
    <div class="table-responsive-xl">
      <table>
        <thead>
          <tr>
            <th>{{"table.header.fullname" | translation | async }}</th>
            <th>{{"table.header.email" | translation | async }}</th>
            <th>{{"table.header.subject" | translation | async }}</th>
            <th>{{"table.header.message" | translation | async }}</th>
            <th>{{"table.header.created-at" | translation | async }}</th>
            <th>{{"table.header.is-seen" | translation | async }}</th>
            <th>{{"table.header.action" | translation | async }}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of filteredItems">
            <td>{{item.name}}</td>
            <td>{{item.email}}</td>
            <td>{{item.subject}}</td>
            <td>{{item.text}}</td>
            <td>{{item.createdAt | date:'short'}}</td>
            <td>{{item.isSeen}}</td>
            <td>
              <div class="action-buttons">
                <button class="mark-read-btn" (click)="markAsRead(item.id)">
                  <img src="../../../assets/images/double-tick.svg" alt="Mark as read">
                </button>
                <button class="delete-btn" (click)="deleteMessage(item.id)">
                  <img src="../../../assets/images/delete.svg" alt="Delete">
                </button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
