body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  margin: 0;
  padding: 20px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

h1, h2 {
  margin: 0;
  margin-bottom: 10px;
}

.search-container {
  flex-grow: 1;
  display: flex;
  padding: 0;
}

.search-container input {
  width: 100%;
  max-width: 500px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
}

.add-employee-btn {
  background-color: #02793A;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.table-responsive-xl {
  overflow-x: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

table th, table td {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid #eee;
}

table th {
  background-color: #f0f0f0;
  color: #333;
}

table tbody tr:last-child td {
  border-bottom: none;
}

.avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 10px;
}

.flex {
  display: flex;
  align-items: center;
}

.action-buttons {
  display: flex;
  gap: 10px;
}

.action-buttons .mark-read-btn,
.action-buttons .edit-btn,
.action-buttons .delete-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.action-buttons .mark-read-btn img,
.action-buttons .edit-btn img,
.action-buttons .delete-btn img {
  width: 20px;
  height: 20px;
}

.action-buttons .mark-read-btn img {
  filter: invert(30%) sepia(90%) saturate(2000%) hue-rotate(90deg) brightness(90%) contrast(90%);
}

.action-buttons .edit-btn img {
  filter: invert(26%) sepia(74%) saturate(2773%) hue-rotate(177deg) brightness(94%) contrast(95%);
}

.action-buttons .delete-btn img {
  filter: invert(32%) sepia(70%) saturate(5935%) hue-rotate(340deg) brightness(89%) contrast(93%);
}
