<h2 mat-dialog-title>{{"title.create-home-slide" | translation | async}}</h2>
<form [formGroup]="homeSlideForm" (ngSubmit)="onSubmit()">
  <mat-dialog-content>
    <mat-form-field>
      <mat-label>{{"input.title-uz" | translation | async}}</mat-label>
      <input matInput formControlName="TitleUz" required />
      <mat-error>
        {{"error.required" | translation | async}}
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>{{"input.title-en" | translation | async}}</mat-label>
      <input matInput formControlName="TitleEn" required />
      <mat-error>
        {{"error.required" | translation | async}}
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>{{"input.title-ru" | translation | async}}</mat-label>
      <input matInput formControlName="TitleRu" required />
      <mat-error>
        {{"error.required" | translation | async}}
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>{{"input.title-uzru" | translation | async}}</mat-label>
      <input matInput formControlName="TitleUzRu" required />
      <mat-error>
        {{"error.required" | translation | async}}
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>{{"input.subtitle-uz" | translation | async}}</mat-label>
      <input matInput formControlName="SubtitleUz" required />
      <mat-error>
        {{"error.required" | translation | async}}
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>{{"input.subtitle-en" | translation | async}}</mat-label>
      <input matInput formControlName="SubtitleEn" required />
      <mat-error>
        {{"error.required" | translation | async}}
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>{{"input.subtitle-ru" | translation | async}}</mat-label>
      <input matInput formControlName="SubtitleRu" required />
      <mat-error>
        {{"error.required" | translation | async}}
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>{{"input.subtitle-uzru" | translation | async}}</mat-label>
      <input matInput formControlName="SubtitleUzRu" required />
      <mat-error>
        {{"error.required" | translation | async}}
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>{{"input.description-uz" | translation | async}}</mat-label>
      <textarea matInput formControlName="DescriptionUz" required></textarea>
      <mat-error>
        {{"error.required" | translation | async}}
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>{{"input.description-en" | translation | async}}</mat-label>
      <textarea matInput formControlName="DescriptionEn" required></textarea>
      <mat-error>
        {{"error.required" | translation | async}}
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>{{"input.description-ru" | translation | async}}</mat-label>
      <textarea matInput formControlName="DescriptionRu" required></textarea>
      <mat-error>
        {{"error.required" | translation | async}}
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>{{"btn.description-uzru" | translation | async}}</mat-label>
      <textarea matInput formControlName="DescriptionUzRu" required></textarea>
      <mat-error>
        {{"error.required" | translation | async}}
      </mat-error>
    </mat-form-field>

    <div>
      <label for="file">{{"input.photo" | translation | async}}</label>
      <button id="choose-file-button" type="button" mat-raised-button (click)="fileInput.click()">{{ selectedFileName || ("btn.choose-file" | translation | async) }}</button>
      <input hidden (change)="onFileChange($event)" #fileInput type="file" id="file" required>
      <mat-error>
        {{"error.required" | translation | async}}
      </mat-error>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-button (click)="onNoClick()">{{"btn.cancel" | translation | async}}</button>
    <button mat-button type="submit" [disabled]="homeSlideForm.invalid" cdkFocusInitial>{{"btn.add" | translation | async}}</button>
  </mat-dialog-actions>
</form>
