<h2 mat-dialog-title>{{"title.update-blog" | translation | async}}</h2>
<form [formGroup]="blogPostForm" (ngSubmit)="onSubmit()">
  <mat-dialog-content>
    <mat-form-field>
      <mat-label>{{"input.title-uz" | translation | async}}</mat-label>
      <input matInput formControlName="TitleUz" />
    </mat-form-field>

    <mat-form-field>
      <mat-label>{{"input.title-en" | translation | async}}</mat-label>
      <input matInput formControlName="TitleEn" />
    </mat-form-field>

    <mat-form-field>
      <mat-label>{{"input.title-ru" | translation | async}}</mat-label>
      <input matInput formControlName="TitleRu" />
    </mat-form-field>

    <mat-form-field>
      <mat-label>{{"input.title-uzru" | translation | async}}</mat-label>
      <input matInput formControlName="TitleUzRu" />
    </mat-form-field>

    <mat-form-field>
      <mat-label>{{"input.description-uz" | translation | async}}</mat-label>
      <textarea matInput formControlName="DescriptionUz"></textarea>
    </mat-form-field>

    <mat-form-field>
      <mat-label>{{"input.description-en" | translation | async}}</mat-label>
      <textarea matInput formControlName="DescriptionEn"></textarea>
    </mat-form-field>

    <mat-form-field>
      <mat-label>{{"input.description-ru" | translation | async}}</mat-label>
      <textarea matInput formControlName="DescriptionRu"></textarea>
    </mat-form-field>

    <mat-form-field>
      <mat-label>{{"input.description-uzru" | translation | async}}</mat-label>
      <textarea matInput formControlName="DescriptionUzRu"></textarea>
    </mat-form-field>

    <mat-form-field>
      <mat-label>{{"input.link" | translation | async}}</mat-label>
      <input matInput formControlName="Link" />
    </mat-form-field>
    <div>
      <label for="file">{{"input.photo" | translation | async}}</label>
      <button id="choose-file-button" type="button" mat-raised-button (click)="fileInput.click()">{{ selectedFileName || ("btn.choose-file" | translation | async) }}</button>
      <input hidden (change)="onFileChange($event)" #fileInput type="file" id="file" required>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-button (click)="onNoClick()">{{"btn.cancel" | translation | async}}</button>
    <button mat-button type="submit" [disabled]="blogPostForm.invalid" cdkFocusInitial>{{"btn.save" | translation | async}}</button>
  </mat-dialog-actions>
</form>
