<div class="body">
  <div class="container">
    <h1>Projects</h1>
    <div class="header">
        <div class="search-container">
          <input type="text" placeholder="Search...">
      </div>
        <button class="add-button">+ Create New</button>
    </div>
    <div class="grid">
      <div class="card">
        <button class="dots-button">⋮</button>
                <div class="dropdown-content">
                    <a href="#">Edit</a>
                    <a href="#">Delete</a>
                </div>
        <div class="status">
            <img src="../../../assets/images/olmatech.jpg" alt="Truck">
        </div>
        <div class="delivery-info">
            <h2>Title about something</h2>
            <h3>Subtitle about something</h3>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nisi, suscipit laborum? Placeat, laboriosam reprehenderit. Impedit sequi iure laborum suscipit quaerat, consequatur facilis maxime soluta sunt quis nemo deleniti assumenda vel.</p>
        </div>
    </div>
    <div class="card">
      <button class="dots-button">⋮</button>
                <div class="dropdown-content">
                    <a href="#">Edit</a>
                    <a href="#">Delete</a>
                </div>
      <div class="status">
          <img src="../../../assets/images/olmatech.jpg" alt="Truck">
      </div>
      <div class="delivery-info">
          <h2>Title about something</h2>
          <h3>Subtitle about something</h3>
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nisi, suscipit laborum? Placeat, laboriosam reprehenderit. Impedit sequi iure laborum suscipit quaerat, consequatur facilis maxime soluta sunt quis nemo deleniti assumenda vel.</p>
      </div>
  </div>
  <div class="card">
    <button class="dots-button">⋮</button>
                <div class="dropdown-content">
                    <a href="#">Edit</a>
                    <a href="#">Delete</a>
                </div>
    <div class="status">
        <img src="../../../assets/images/olmatech.jpg" alt="Truck">
    </div>
    <div class="delivery-info">
        <h2>Title about something</h2>
        <h3>Subtitle about something</h3>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nisi, suscipit laborum? Placeat, laboriosam reprehenderit. Impedit sequi iure laborum suscipit quaerat, consequatur facilis maxime soluta sunt quis nemo deleniti assumenda vel.</p>
    </div>
</div>
<div class="card">
  <button class="dots-button">⋮</button>
                <div class="dropdown-content">
                    <a href="#">Edit</a>
                    <a href="#">Delete</a>
                </div>
  <div class="status">
      <img src="../../../assets/images/olmatech.jpg" alt="Truck">
  </div>
  <div class="delivery-info">
      <h2>Title about something</h2>
      <h3>Subtitle about something</h3>
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nisi, suscipit laborum? Placeat, laboriosam reprehenderit. Impedit sequi iure laborum suscipit quaerat, consequatur facilis maxime soluta sunt quis nemo deleniti assumenda vel.</p>
  </div>
</div>
<div class="card">
  <button class="dots-button">⋮</button>
                <div class="dropdown-content">
                    <a href="#">Edit</a>
                    <a href="#">Delete</a>
                </div>
  <div class="status">
      <img src="../../../assets/images/olmatech.jpg" alt="Truck">
  </div>
  <div class="delivery-info">
      <h2>Title about something</h2>
      <h3>Subtitle about something</h3>
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nisi, suscipit laborum? Placeat, laboriosam reprehenderit. Impedit sequi iure laborum suscipit quaerat, consequatur facilis maxime soluta sunt quis nemo deleniti assumenda vel.</p>
  </div>
</div>
<div class="card">
  <button class="dots-button">⋮</button>
                <div class="dropdown-content">
                    <a href="#">Edit</a>
                    <a href="#">Delete</a>
                </div>
  <div class="status">
      <img src="../../../assets/images/olmatech.jpg" alt="Truck">
  </div>
  <div class="delivery-info">
      <h2>Title about something</h2>
      <h3>Subtitle about something</h3>
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nisi, suscipit laborum? Placeat, laboriosam reprehenderit. Impedit sequi iure laborum suscipit quaerat, consequatur facilis maxime soluta sunt quis nemo deleniti assumenda vel.</p>
  </div>
</div>
    </div>
</div>
</div>
