<div class="body">
  <div class="container">
    <h1>{{"title.project" | translation | async}}</h1>
    <div class="header" [formGroup]="projectForm">
      <div class="search-container">
        <input type="text" [placeholder]="('placeholder.search' | translation | async)" formControlName="query">
      </div>
      <button class="add-button" (click)="onCreateNewItem()">{{"btn.create" | translation | async}}</button>
    </div>
    <div class="grid">
      <div class="card" *ngFor="let item of items">
        <button class="dots-button">⋮</button>
        <div class="dropdown-content">
          <a (click)="onEditItem(item.id)">{{"btn.edit" | translation | async}}</a>
          <a (click)="deletePost(item.id)">{{"btn.delete" | translation | async}}</a>
        </div>
        <div class="status">
          <img [src]="getPhoto(item)" alt="Project Image">
        </div>
        <div class="delivery-info">
          <h2>{{ item.nameEn }}</h2>
          <p>{{ item.descriptionEn }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
