<h2 mat-dialog-title>Create Blog Post</h2>
<form [formGroup]="blogPostForm" (ngSubmit)="onSubmit()">
  <mat-dialog-content>
    <mat-form-field>
      <mat-label>Title (Uz)</mat-label>
      <input matInput formControlName="TitleUz" required />
      <mat-error>
        Title (Uz) is required.
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Title (En)</mat-label>
      <input matInput formControlName="TitleEn" required />
      <mat-error>
        Title (En) is required.
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Title (Ru)</mat-label>
      <input matInput formControlName="TitleRu" required />
      <mat-error>
        Title (Ru) is required.
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Title (UzRu)</mat-label>
      <input matInput formControlName="TitleUzRu" required />
      <mat-error>
        Title (UzRu) is required.
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Description (Uz)</mat-label>
      <textarea matInput formControlName="DescriptionUz" required></textarea>
      <mat-error>
        Description (Uz) is required.
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Description (En)</mat-label>
      <textarea matInput formControlName="DescriptionEn" required></textarea>
      <mat-error>
        Description (En) is required.
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Description (Ru)</mat-label>
      <textarea matInput formControlName="DescriptionRu" required></textarea>
      <mat-error>
        Description (Ru) is required.
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Description (UzRu)</mat-label>
      <textarea matInput formControlName="DescriptionUzRu" required></textarea>
      <mat-error>
        Description (UzRu) is required.
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Link</mat-label>
      <input matInput formControlName="Link" required />
      <mat-error>
        Link is required.
      </mat-error>
    </mat-form-field>

    <div>
      <label for="file">Photo</label>
      <button id="choose-file-button" type="button" mat-raised-button (click)="fileInput.click()">{{ selectedFileName || 'Choose File' }}</button>
      <input hidden (change)="onFileChange($event)" #fileInput type="file" id="file" required>
      <mat-error>
        Photo is required.
      </mat-error>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-button (click)="onNoClick()">Cancel</button>
    <button mat-button type="submit" [disabled]="blogPostForm.invalid" cdkFocusInitial>Add</button>
  </mat-dialog-actions>
</form>
