<h2 mat-dialog-title>{{"title.update-team" | translation | async}}</h2>
<form [formGroup]="teamForm" (ngSubmit)="onSubmit()">
  <mat-dialog-content>
    <mat-form-field>
      <mat-label>{{"input.firstname-en" | translation | async}}</mat-label>
      <input matInput formControlName="Firstname"/>
    </mat-form-field>

    <mat-form-field>
      <mat-label>{{"input.firstname-ru" | translation | async}}</mat-label>
      <input matInput formControlName="FirstnameRu"/>
    </mat-form-field>

    <mat-form-field>
      <mat-label>{{"input.lastname-en" | translation | async}}</mat-label>
      <input matInput formControlName="Lastname"/>
    </mat-form-field>

    <mat-form-field>
      <mat-label>{{"input.lastname-ru" | translation | async}}</mat-label>
      <input matInput formControlName="LastnameRu"/>
    </mat-form-field>

    <mat-form-field>
      <mat-label>{{"input.phone" | translation | async}}</mat-label>
      <input matInput formControlName="Phone"/>
    </mat-form-field>

    <mat-form-field>
      <mat-label>{{"input.position-uz" | translation | async}}</mat-label>
      <input matInput formControlName="PositionUz"/>
    </mat-form-field>

    <mat-form-field>
      <mat-label>{{"input.position-en" | translation | async}}</mat-label>
      <input matInput formControlName="PositionEn"/>
    </mat-form-field>

    <mat-form-field>
      <mat-label>{{"input.position-ru" | translation | async}}</mat-label>
      <input matInput formControlName="PositionRu"/>
    </mat-form-field>

    <mat-form-field>
      <mat-label>{{"input.position-uzru" | translation | async}}</mat-label>
      <input matInput formControlName="PositionUzRu" />
    </mat-form-field>

    <mat-form-field>
      <mat-label>{{"input.telegram" | translation | async}}</mat-label>
      <input matInput formControlName="Telegram" />
    </mat-form-field>

    <mat-form-field>
      <mat-label>{{"input.instagram" | translation | async}}</mat-label>
      <input matInput formControlName="Instagram" />
    </mat-form-field>

    <mat-form-field>
      <mat-label>{{"input.twitter" | translation | async}}</mat-label>
      <input matInput formControlName="Twitter"/>
    </mat-form-field>

    <mat-form-field>
      <mat-label>{{"input.email" | translation | async}}</mat-label>
      <input matInput formControlName="Email" />
    </mat-form-field>

    <div>
      <label for="file">{{"input.photo" | translation | async}}</label>
      <button id="choose-file-button" type="button" mat-raised-button (click)="fileInput.click()">{{ selectedFileName || ("btn.choose-file" | translation | async) }}</button>
      <input hidden (change)="onFileChange($event)" #fileInput type="file" id="file" required>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-button (click)="onNoClick()">{{"btn.cancel" | translation | async}}</button>
    <button mat-button type="submit" [disabled]="teamForm.invalid" cdkFocusInitial>{{"btn.save" | translation | async}}</button>
  </mat-dialog-actions>
</form>
