<div class="body">
  <div class="container">
    <h1>{{"title.client" | translation | async}}</h1>
    <div class="header" [formGroup]="clientForm">
      <div class="search-container">
        <input type="text" [placeholder]="('placeholder.search' | translation | async)" formControlName="query">
      </div>
      <button class="add-button" (click)="onCreateNewClient()">{{"btn.create" | translation | async}}</button>
    </div>
    <div class="grid">
      <div class="card" *ngFor="let item of clients">
        <button class="dots-button">⋮</button>
        <div class="dropdown-content">
          <a (click)="onEditClient(item.id)">{{"btn.edit" | translation | async}}</a>
          <a (click)="deleteClient(item.id)">{{"btn.delete" | translation | async}}</a>
        </div>
        <div class="status">
          <img [src]="getPhoto(item)" alt="Img">
        </div>
        <div class="delivery-info">
          <h2>{{item.firstname}}</h2>
          <h2>{{item.lastname}}</h2>
          <h3>{{item.phone}}</h3>
          <p>{{item.positionEn}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
