<div class="body">
  <div class="container">
    <h1>Users</h1>
    <div class="header" [formGroup]="userForm">
        <div class="search-container">
          <input type="text" placeholder="Search..." formControlName="query">
      </div>
        <button class="add-button" (click)="onCreateNewUser()">+ Create New</button>
    </div>
    <div class="grid">
      <div class="card" *ngFor="let user of users">
        <button class="dots-button">⋮</button>
                <div class="dropdown-content">
                    <a (click)="onEditUser(user.id)">Edit</a>
                    <a (click)="onDeleteUser(user.id)">Delete</a>
                </div>
        <div class="status">
            <img [src]="getPhoto(user)" alt="Img">
        </div>
        <div class="delivery-info">
            <h2>{{user.firstname}} {{user.lastname}}</h2>
            <h3>{{user.phone}}</h3>
            <p>{{user.userrole}}</p>
            <p>{{user.gender}}</p>
        </div>
    </div>
    </div>
</div>
</div>
