<h2 mat-dialog-title>Create User</h2>
<form [formGroup]="userForm" (ngSubmit)="onSubmit()">
  <mat-dialog-content>
    <mat-form-field>
      <mat-label>Firstname</mat-label>
      <input matInput formControlName="Firstname" required />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Firstname (Ru)</mat-label>
      <input matInput formControlName="FirstnameRu" />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Lastname</mat-label>
      <input matInput formControlName="Lastname" required />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Lastname (Ru)</mat-label>
      <input matInput formControlName="LastnameRu" />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Phone</mat-label>
      <input matInput formControlName="Phone" />
    </mat-form-field>

    <mat-form-field>
      <mat-label>User Role</mat-label>
      <mat-select formControlName="Userrole" required>
        <mat-option *ngFor="let role of userRoles" [value]="role.id">
          {{ role.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Gender</mat-label>
      <mat-select formControlName="Gender" required>
        <mat-option *ngFor="let gender of genders" [value]="gender.id">
          {{ gender.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Email</mat-label>
      <input matInput formControlName="Email" required email />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Password</mat-label>
      <input matInput formControlName="Password" type="password" required />
    </mat-form-field>

    <div>
      <label for="file">Photo</label>
      <button id="choose-file-button" type="button" mat-raised-button (click)="fileInput.click()">{{ selectedFileName || 'Choose File' }}</button>
      <input hidden (change)="onFileChange($event)" #fileInput type="file" id="file" required>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-button (click)="onNoClick()">Cancel</button>
    <button mat-button type="submit" [disabled]="userForm.invalid" cdkFocusInitial>Add</button>
  </mat-dialog-actions>
</form>
