<h2 mat-dialog-title>Update Home Post</h2>
<form [formGroup]="updateServiceForm" (ngSubmit)="onSubmit()">
  <mat-dialog-content>
    <mat-form-field>
      <mat-label>Name (Uz)</mat-label>
      <input matInput formControlName="NameUz" />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Name (En)</mat-label>
      <input matInput formControlName="NameEn" />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Name (Ru)</mat-label>
      <input matInput formControlName="NameRu" />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Name (UzRu)</mat-label>
      <input matInput formControlName="NameUzRu" />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Description (Uz)</mat-label>
      <textarea matInput formControlName="DescriptionUz"></textarea>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Description (En)</mat-label>
      <textarea matInput formControlName="DescriptionEn"></textarea>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Description (Ru)</mat-label>
      <textarea matInput formControlName="DescriptionRu"></textarea>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Description (UzRu)</mat-label>
      <textarea matInput formControlName="DescriptionUzRu"></textarea>
    </mat-form-field>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-button (click)="onNoClick()">Cancel</button>
    <button mat-button type="submit" [disabled]="updateServiceForm.invalid" cdkFocusInitial>Save</button>
  </mat-dialog-actions>
</form>
