<h2 mat-dialog-title>Update Client</h2>
<form [formGroup]="clientForm" (ngSubmit)="onSubmit()">
  <mat-dialog-content>
    <mat-form-field>
      <mat-label>Firstname</mat-label>
      <input matInput formControlName="Firstname"/>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Firstname (Ru)</mat-label>
      <input matInput formControlName="FirstnameRu"/>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Lastname</mat-label>
      <input matInput formControlName="Lastname"/>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Lastname (Ru)</mat-label>
      <input matInput formControlName="LastnameRu"/>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Phone</mat-label>
      <input matInput formControlName="Phone"/>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Position (Uz)</mat-label>
      <input matInput formControlName="PositionUz"/>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Position (En)</mat-label>
      <input matInput formControlName="PositionEn"/>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Position (Ru)</mat-label>
      <input matInput formControlName="PositionRu"/>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Position (UzRu)</mat-label>
      <input matInput formControlName="PositionUzRu" />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Comment (Uz)</mat-label>
      <input matInput formControlName="CommentUz" />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Comment (En)</mat-label>
      <input matInput formControlName="CommentEn" />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Comment (Ru)</mat-label>
      <input matInput formControlName="CommentRu" />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Comment (UzRu)</mat-label>
      <input matInput formControlName="CommentUzRu" />
    </mat-form-field>

    <div>
      <label for="file">Photo</label>
      <button id="choose-file-button" type="button" mat-raised-button (click)="fileInput.click()">{{ selectedFileName || 'Choose File' }}</button>
      <input hidden (change)="onFileChange($event)" #fileInput type="file" id="file" required>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-button (click)="onNoClick()">Cancel</button>
    <button mat-button type="submit" [disabled]="clientForm.invalid" cdkFocusInitial>Save</button>
  </mat-dialog-actions>
</form>
