<h2 mat-dialog-title>Update About</h2>
<form [formGroup]="aboutForm" (ngSubmit)="onSubmit()">
  <mat-dialog-content>
    <mat-form-field>
      <mat-label>Address (Uzbek)</mat-label>
      <input matInput formControlName="AddressUz" />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Address (English)</mat-label>
      <input matInput formControlName="AddressEn" />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Address (Russian)</mat-label>
      <input matInput formControlName="AddressRu" />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Address (Uzbek Cyrillic)</mat-label>
      <input matInput formControlName="AddressUzRu" />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Title (Uzbek)</mat-label>
      <input matInput formControlName="TitleUz" />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Title (English)</mat-label>
      <input matInput formControlName="TitleEn" />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Title (Russian)</mat-label>
      <input matInput formControlName="TitleRu" />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Title (Uzbek Cyrillic)</mat-label>
      <input matInput formControlName="TitleUzRu" />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Description (Uzbek)</mat-label>
      <textarea matInput formControlName="DescriptionUz"></textarea>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Description (English)</mat-label>
      <textarea matInput formControlName="DescriptionEn"></textarea>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Description (Russian)</mat-label>
      <textarea matInput formControlName="DescriptionRu"></textarea>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Description (Uzbek Cyrillic)</mat-label>
      <textarea matInput formControlName="DescriptionUzRu"></textarea>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Description Footer (Uzbek)</mat-label>
      <textarea matInput formControlName="DescriptionFooterUz"></textarea>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Description Footer (English)</mat-label>
      <textarea matInput formControlName="DescriptionFooterEn"></textarea>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Description Footer (Russian)</mat-label>
      <textarea matInput formControlName="DescriptionFooterRu"></textarea>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Description Footer (Uzbek Cyrillic)</mat-label>
      <textarea matInput formControlName="DescriptionFooterUzRu"></textarea>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Experience</mat-label>
      <input matInput formControlName="Experience" type="number" />
    </mat-form-field>

    <div>
      <label for="file">Photo: </label>
      <button id="choose-file-button" type="button" mat-raised-button (click)="fileInput.click()">{{ selectedFileName || 'Choose File' }}</button>
      <input hidden (change)="onFileChange($event)" #fileInput type="file" id="file">
    </div>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-button (click)="onNoClick()">Cancel</button>
    <button mat-button type="submit" [disabled]="aboutForm.invalid" cdkFocusInitial>Save</button>
  </mat-dialog-actions>
</form>
