<h2 mat-dialog-title>Create Project</h2>
<form [formGroup]="projectForm" (ngSubmit)="onSubmit()">
  <mat-dialog-content>
    <mat-form-field>
      <mat-label>Name (Uz)</mat-label>
      <input matInput formControlName="NameUz" />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Name (En)</mat-label>
      <input matInput formControlName="NameEn" />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Name (Ru)</mat-label>
      <input matInput formControlName="NameRu" />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Name (UzRu)</mat-label>
      <input matInput formControlName="NameUzRu" />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Description (Uz)</mat-label>
      <textarea matInput formControlName="DescriptionUz"></textarea>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Description (En)</mat-label>
      <textarea matInput formControlName="DescriptionEn"></textarea>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Description (Ru)</mat-label>
      <textarea matInput formControlName="DescriptionRu"></textarea>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Description (UzRu)</mat-label>
      <textarea matInput formControlName="DescriptionUzRu"></textarea>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Link</mat-label>
      <input matInput formControlName="Link" />
    </mat-form-field>
    <div>
      <label for="file">Photo: </label>
      <button id="choose-file-button" type="button" mat-raised-button (click)="fileInput.click()">{{ selectedFileName || 'Choose File' }}</button>
      <input hidden (change)="onFileChange($event)" #fileInput type="file" id="file" required>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-button (click)="onNoClick()">Cancel</button>
    <button mat-button type="submit" [disabled]="projectForm.invalid" cdkFocusInitial>Save</button>
  </mat-dialog-actions>
</form>
